allow-lan: true
external-controller: 0.0.0.0:17790
secert: mihomo-password
external-ui: 'dashboard'
mode: rule
port: 17789
log-level: debug
unified-delay: true
ntp:
  enable: true
  write-to-system: false
  server: time.apple.com
  port: 123
  interval: 30
skip-auth-prefixes:
- 127.0.0.1/8
- 192.168.0.1/16
- ::1/128
geodata-loader: standard
geo-auto-update: true
find-process-mode: strict
keep-alive-idle: 15
tcp-concurrent: true
dns:
  enable: true
  prefer-h3: true
  ipv6: true
  use-system-hosts: true
  cache-algorithm: arc
  enhanced-mode: fake-ip
  fake-ip-range: 198.18.0.1/16
  fake-ip-filter:
  - +.lan
  - +.local
  - +.msftconnecttest.com
  - +.msftncsi.com
  - localhost.ptlogin2.qq.com
  - localhost.sec.qq.com
  - localhost.work.weixin.qq.com
  default-nameserver:
  - https://223.5.5.5/dns-query
  - https://119.29.29.29/dns-query
  nameserver:
  - quic://dns.cooluc.com
  - https://1.1.1.1/dns-query
  - https://208.67.222.222/dns-query
  nameserver-policy:
    geosite:private,cn,geolocation-cn:
    - https://223.5.5.5/dns-query
    - https://119.29.29.29/dns-query
    geosite:geolocation-!cn:
    - quic://dns.cooluc.com
    - https://1.1.1.1/dns-query
    - https://208.67.222.222/dns-query
    geosite:openai,google,youtube,telegram,gfw:
    - quic://dns.cooluc.com
    - https://1.1.1.1/dns-query
    - https://208.67.222.222/dns-query
  fallback:
  - quic://dns.cooluc.com
  - https://1.1.1.1/dns-query
  - https://208.67.222.222/dns-query
  fallback-filter:
    geoip: true
    geoip-code: CN
    ipcidr:
    - 240.0.0.0/4
external-controller-cors:
  allow-private-network: true
  allow-origins:
  - '*'
sniffer:
  enable: true
  parse-pure-ip: true
  sniff:
    HTTP:
      ports:
      - 80
      - 8080-8880
      override-destination: true
    TLS:
      ports:
      - 443
      - 8443
    QUIC:
      ports:
      - 443
      - 8443
  force-domain: []
  skip-domain:
  - Mijia Cloud
geo-update-interval: 24
bind-address: '*'
proxies:
proxy-groups:
rules:
  - GEOIP,LAN,DIRECT
  - GEOIP,CN,DIRECT
  - MATCH,proxinode
